/* WebFinger colors: yellow: #e2bb03, brown: #3b351d */

body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5em;
  margin: 0;
}

header {
  background: #f0f0f0;
  border-bottom: solid 1px #ccc;
  overflow: auto;
  padding: 1em 0;
}

header div a:link, header div a:visited {
  color: inherit;
  text-decoration: none;
}

#logo {
  height: 100px;
  float: left;
  margin: 0 2em 0 1em;
}

#tagline {
  margin: 0;
}

header > div, #content, nav {
  max-width: 800px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  padding-top: 0.5em;
  line-height: 1.5em;
}

header > nav > ul {
  margin: 0;
  padding: 0;
  display: block;
  clear: both;
  padding-top: 1em;
}

header > nav > ul li {
  list-style-image: none;
  list-style-type: none;
  float: left;
}

header > nav > ul li a:link,
header > nav > ul li a:visited {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #ffffff;
  background-color: #444444;
  margin-right: 1em;
  padding: 0.25em 1em;
  text-decoration: none;
}

header > nav > ul li a:hover {
  color: #bf9e03;
}

#content {
  padding: 1em;
}

footer {
  color: #999;
  font-size: 80%;
  margin-top: 2em;
}

a:link, a:visited {
  color: #bf9e03;
}


/** webfinger email checking form **/

form.lookup input {
  font-size: 120%;
  padding: 5px;
}

form.lookup input[type=text] {
  width: 600px;
}

form.lookup input[type=submit] {
  width: 60px; margin-left: 10px;
}
