<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {{- $style := resources.Get "css/style.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="shortcut icon" type="image/x-icon" href="/images/WebFinger-16x16.ico" />
    <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Lookup WebFinger" />
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <header>
      <div>
        <div class="site-title">
          <a href="/">
            <img src="/images/WebFinger.svg" id="logo" alt="" width="49" height="75"/>
            <h1>WebFinger</h1>
          </a>
          <p id="tagline">simple discovery for the web</p>
        </div>

        <form class="lookup" action="/lookup/" method="get" autocomplete="on">
          <h3>Lookup WebFinger:</h3>
          <input type="text" name="resource" id="resource" placeholder="Email or URL" tabindex="1" autofocus />
          <button tabindex="2">
            <svg id="search-icon" class="search-icon" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
         </button>
        </form>
      </div>
    </header>

    <nav role="navigation" id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/spec/">Spec</a></li>
        <li><a href="/code/">Code</a></li>
        <li><a href="/rel/">Link Relations</a></li>
        <li><a href="/community/">Community</a></li>
      </ul>
    </nav>

    <div id="content">
      {{ block "main" . }}{{ end }}

      <footer>
        <p>This website is in a <a href="https://github.com/webfinger/webfinger.net">public git repository</a>.</p>
      </footer>
    </div>
    {{ if .Params.lookupjs }}<script>{{ (resources.Get "js/lookup.js").Content | safeJS }}</script>{{ end }}
  </body>
</html>
