// colors extract from webfinger logo
$wf-yellow: #e2bb03;
$wf-brown: #3b351d;

$link-color: #bf9e03;

// normalize styles
@import "normalize";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  margin: 0;
}

a:link, a:visited {
  color: $link-color;
}

// set max width and center content
header > div, #nav > ul , #content {
  max-width: 800px;
  margin: 0 auto;
}


header {
  background: #f5f5f5;
  border-bottom: solid 1px #eee;
  overflow: auto;
  padding: 0.5em 0;

  a:link, a:visited {
    color: inherit;
    text-decoration: none;
  }

  #logo {
    height: 75px;
    float: left;
    margin: 0 1em;
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: 0.25em;
    line-height: 1.5em;
  }

  #tagline {
    margin: 0;
  }

}


#nav {
  font-size: 0.9em;
  border-bottom: solid 1px #eee;
  overflow: auto;

  > ul {
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
    }
  }

  a {
    color: inherit;
    display: block;
    padding: 0.8em;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }
}

#content {
  padding: 1em;
}

footer {
  color: #aaa;
  font-size: 80%;
  margin-top: 3em;

  a:link, a:visited {
    color: #aaa;
  }
}


// webfinger lookup form
form.lookup {
  background: #fff;
  border: solid 1px #eee;
  clear: left;
  margin: 1em 1em 0 1em;
  padding: 0.5em;

  h3 {
    font-size: 80%;
    font-weight: normal;
    margin: 0;
  }

  input[type=text] {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 80%;
    outline: 0;
    padding: 4px 8px;
    width: 70%;

    &:focus {
      border: 1px solid $wf-yellow;
    }
  }

  button {
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    display: inline-block;
    font-size: 80%;
    outline: 0;
    padding: 1px 10px 0;

    &:focus {
      border: 1px solid $wf-yellow;
    }

    > i {
      line-height: 25px;
    }
  }
}

pre {
  color: #333;
  font-size: 0.875em;
  line-height: 2;
  white-space: pre-wrap;
}

@media screen and (min-width: 650px) {
  form.lookup {
    background: none;
    border: 0;
    clear: none;
    float: right;
    margin-top: 0;
    width: 40%;

    input {
    }
  }

  .site-title {
    float: left;
    min-width: 50%;
  }
}
